mixin header-2(url, icon, h1, h2, breadcrumbs, navigation, hook, for_internal_use)
    header(class=hook ? "header-2 " + hook :  "header-2")

        .core

            h1
                a(href=url)
                    svg
                        use(xlink:href="/assets/images/_sprites/symbols.svg#" + icon)
                    =h1

            if for_internal_use
                form#find
                    input(type="search" id="search" placeholder="Search")

            if breadcrumbs

                .breadcrumbs

                    nav(role="navigation")

                        ul
                            for breadcrumb in breadcrumbs

                                li
                                    a(href=breadcrumb.href)= breadcrumb.name
                                    span &nbsp;/&nbsp;

                    h2= h2 || 'Heading 2'

            else

                h2= h2 || 'Heading 2'

        if navigation

            .peripheral

                nav(role="navigation")

                    ul
                        for anchor in navigation

                            li
                                a(href=anchor.href)= anchor.name
